<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About - XasanGames Website</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <div class="login-register">
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                </div>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <h2>About Me</h2>
        <p>Hello! My name is Xasan Saitov a.k.a. XasanGames. I'ma beginner full-stack web python developer. I'm working with Django, Flask and other frameworks.</p>
    </section>
    <br>
    <section>
        <h2>My Skills</h2>
        <p>My skills are:</p>
        <ul>
            <li>Python</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>low JavaScript</li>
            <li>SQL</li>
            <li>Git</li>
        </ul>
    </section>
    <br>
    <section>
        <h2>My Projects</h2>
        <p>My projects are:</p>
        <ul>
            <li><a href="/">XasanGames Website</a></li>
            <img src="{% static 'pic/gitproject1.png' %}" alt="gitprojectPic">
        </ul>
    </section>
    <br>
    <section>
        <h2>My Goals</h2>
        <p>My goals are:</p>
        <ul>
            <li>Learn Node.js</li>
            <li>Learn Vue.js</li>
            <li>Learn C#</li>
        </ul>
    </section>
    <br>
    <section>
        <h2>My Mission</h2>
        <p>My mission is freelancing in fiverr.com, earn money and learn Node.js, Vue.js and C#</p>
    </section>
    <br>
    <section>
        <h2>My Vision</h2>
        <p>My vision is to become a full-stack web developer and work in a big company.</p>
    </section>
    <br>
    <section>
        <h2>My Values</h2>
        <p>My values are:</p>
        <ul>
            <li>Hard work</li>
            <li>Learning</li>
            <li>Don't giving up</li>
            <li>Responsibility</li>
            <li>Teamwork (but i'm solo developer)</li>
        </ul>
    </section>
    <br>
    <section>
        <h2>My Hobbies</h2>
        <p>My hobbies are:</p>
        <ul>
            <li>Programming</li>
            <li>Playing video games</li>
            <li>Watching movies</li>
            <li>Listening to music</li>
            <li>Reading books</li>
        </ul>
    </section>
    <br>
    <section>
        <h2>My Contact</h2>
        <p>You can contact me via:</p>
        <ul>
            <li>Email: xasangam4s@gmail.com</li>
            <li>Github: <a href="https://github.com/XasanGames">*click*</a></li>
            <li>Discord: xasangames</li>
            <li>Telegram: @xasanxusan11</li>
        </ul>
    </section>
    <footer>
        <p>&copy; 2025 XasanGames Website</p>
        <div class="footer-links">
            <a href="/tos">Terms of Service</a>
            <a href="/privacyPolicy">Privacy Policy</a>
            <a href="/contact">Contact</a>
        </div>
    </footer>
    <button id="scrollToTopBtn">Scroll to Top</button>
    <script>
        // Показать кнопку при прокрутке вниз на 100px
        window.onscroll = function() {
            var scrollToTopBtn = document.getElementById("scrollToTopBtn");
            if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
                scrollToTopBtn.style.display = "block";
            } else {
                scrollToTopBtn.style.display = "none";
            }
        };

        // Прокрутка страницы вверх при нажатии на кнопку
        document.getElementById("scrollToTopBtn").onclick = function() {
        window.scrollTo({ top: 0, behavior: 'smooth' });
        };
    </script>
</body>
</html>